@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$Linear-Gradient: #a3a8f0 to #696fdd;
$Very-Light-Grayish-Blue: #f6f6fe;
$Light-Grayish-Blue: #b3b5c6;
$Grayish-Blue: #6d708d;
$Dark-Grayish-Blue: #494c5f;

$fFamily: "Montserrat", sans-serif;
$fSize: 15px;

body {
  font-family: $fFamily;
  font-size: $fSize;
  background-color: $Very-Light-Grayish-Blue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: $Grayish-Blue;
    font-size: 2rem;
  }
}

.toggle {
  display: flex;
  gap: 2rem;
  align-items: center;

  p {
    color: $Light-Grayish-Blue;
    font-size: 1rem;
  }
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  display: none;

  &:checked + label {
    background: linear-gradient($Light-Grayish-Blue, $Light-Grayish-Blue);
  }

  &:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: linear-gradient(#a3a8f0, #696fdd);
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: $Very-Light-Grayish-Blue;
    border-radius: 90px;
    transition: 0.3s;
  }

  &:active:after {
    width: 50px;
  }
}

.row {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2rem 0;
  padding: 1rem;

  background: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

ul {
  margin: 1.5rem;
  padding: 0;

  li {
    list-style-type: none;
    padding: 1rem 0;

    &:nth-child(2) {
      color: $Dark-Grayish-Blue;
      font-size: 4rem;
    }
  }
}

.btn {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  color: #fff;
  border: 0;
  font-weight: bold;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, #696fdd 100%);
  &:hover {
    background: transparent;
    border: solid 1px #696fdd;
    color: #696fdd;
    cursor: pointer;
  }
}

.bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.pro {
  background: linear-gradient(#a3a8f0, #696fdd);
  color: white;

  ul {
    li:nth-child(2) {
      color: white;
      font-size: 4rem;
    }
  }

  .btn {
    color: #696fdd;
    background: linear-gradient(white, white);

    &:hover {
      background: transparent;
      border: solid 1px white;
      color: white;
      cursor: pointer;
    }
  }
}

@media (min-width: 1000px) {
  .row {
    width: 75%;
    display: flex;
    flex-direction: row;
  }
  .pro {
    padding: 2rem 0;
  }
}
